* {
    border: none;
    font-family: "JetBrains Mono", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: #151515;
    color: #eee;
}

#workspaces button {
    color: #eee;
    border-radius: 0;
}

#workspaces button:hover {
    background-color:#eee;
    color:#181926;
}

#workspaces button.focused {
    background-color:#eee;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active{
    background-color:#eee;
    color:#181926;
}

#mode {
    background-color: #64727d;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



#battery.charging {
    color: #89b4fa;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #eee;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock,
#window,
#backlight,
#network,
#pulseaudio,
#pulseaudio.muted,
#battery,
#tray
{
    color: #eee;
    padding: 0 16px;
}


